[2020-05-22 14:18] gridhead opened #1 "Non-zero exit code encountered during exit function"
When packaged using PyInstaller, `exit()` is not recognized
[code]

[2020-05-22 14:18] gridhead opened #2 "Abort call is not handled properly"
`[CTRL]+[C]` should be handled gracefully.

[2020-05-22 14:40] gridhead opened #3 "No way to detect host is really Fedora/RHEL/CentOS"
For now, it is up to user's discretion as to where they would want to use this tool. There is no way to check the host OS and tell if it is Fedora or not.

[2020-05-23 02:30] gridhead commented on #1
Replaced all `exit()` calls with `sys.exit(0)`. The issue is fixed for now as of the commit `3f6cfc1`.

[2020-05-23 02:30] #1 closed, assigned to gridhead

[2020-05-23 02:32] gridhead opened #4 "Correct typo "RPMFusion" to "RPM Fusion" or "rpmfusion""
![Screenshot from 2020-05-23 07-57-44](https://user-images.githubusercontent.com/49605954/82719811-975d7500-9ccb-11ea-8fc5-cfec6d792b00.png)

[2020-05-23 02:41] gridhead opened #5 "Generalize and test the tool in KDE Plasma spin"
Need contributors to test and confirm the tool's workability in KDE Plasma spin.

[2020-05-23 02:43] gridhead opened #6 "Generalize and test the tool in Xfce spin"
Need contributors to test and confirm the tool's workability in Xfce spin.

[2020-05-23 02:45] gridhead opened #7 "Generalize and test the tool in LXQt spin"
Need contributors to test and confirm the tool's workability in LXQt spin.

[2020-05-23 02:48] gridhead opened #8 "Generalize and test the tool in MATE-Compiz spin"
Need contributors to test and confirm the tool's workability in MATE-Compiz spin.

[2020-05-23 02:52] gridhead opened #9 "Generalize and test the tool in Cinnamon spin"
Need contributors to test and confirm the tool's workability in Cinnamon spin.

[2020-05-23 02:54] gridhead opened #10 "Generalize and test the tool in LXDE spin"
Need contributors to test and confirm the tool's workability in LXDE spin.

[2020-05-23 02:55] gridhead opened #11 "Generalize and test the tool in SOAS spin"
Need contributors to test and confirm the tool's workability in SOAS spin.

[2020-05-23 03:53] gridhead commented on #5
Get the distro [here](https://spins.fedoraproject.org/en/kde/).

[2020-05-23 03:59] gridhead commented on #6
Get the distro [here](https://spins.fedoraproject.org/en/xfce/).

[2020-05-23 04:00] gridhead commented on #7
Get the distro [here](https://spins.fedoraproject.org/en/lxqt/).

[2020-05-23 04:02] gridhead commented on #8
Get the distro [here](https://spins.fedoraproject.org/en/mate-compiz/).

[2020-05-23 04:02] gridhead commented on #9
Get the distro [here](https://spins.fedoraproject.org/en/cinnamon/).

[2020-05-23 04:03] gridhead commented on #10
Get the distro [here](https://spins.fedoraproject.org/en/lxde/).

[2020-05-23 04:04] gridhead commented on #11
Get the distro [here](https://spins.fedoraproject.org/en/soas/).

[2020-05-23 04:08] gridhead opened #12 "Automate monitoring status of akmod transaction"
Reduce the mandatory sleep time while doing so.

![Screenshot from 2020-05-23 07-56-58](https://user-images.githubusercontent.com/49605954/82721235-ff668800-9cd8-11ea-9250-8ee38b2e543e.png)

[2020-05-23 04:10] gridhead opened #13 "Facilitate removal of leftovers from previous unused kernel modules"
![Screenshot from 2020-05-23 07-47-09](https://user-images.githubusercontent.com/49605954/82721271-5c623e00-9cd9-11ea-9176-84186ad330ed.png)

[2020-05-23 04:13] gridhead opened #14 "Add support on proprietary drivers for older discrete cards"
![Screenshot from 2020-05-23 07-46-20](https://user-images.githubusercontent.com/49605954/82721318-cbd82d80-9cd9-11ea-87df-8f751604c706.png)

[2020-05-23 04:17] gridhead opened #15 "Post about the tool in r/buildapc and r/pcmasterrace"
![Screenshot from 2020-05-23 07-45-34](https://user-images.githubusercontent.com/49605954/82721388-528d0a80-9cda-11ea-9391-062dbb348dcc.png)

[2020-05-23 04:18] gridhead opened #16 "Port this to RHEL/CentOS if possible as a project"
![Screenshot from 2020-05-23 07-03-35](https://user-images.githubusercontent.com/49605954/82721418-94b64c00-9cda-11ea-9817-65ff3a9e90bf.png)

[2020-05-23 04:21] gridhead opened #17 "Use polkit instead of sudo for native privesc access"
![Screenshot from 2020-05-23 07-02-43](https://user-images.githubusercontent.com/49605954/82721455-d7782400-9cda-11ea-8f91-3b4abf6c1138.png)

[2020-05-25 19:17] gridhead opened #18 "Add x86 dependencies to install list"
Steam and many other third party helpers like DXVK require x86 dependencies to be present.

[2020-05-25 22:28] ferdnyc commented on #12
As I noted in [my comment here](https://github.com/t0xic0der/nvidia-auto-installer-for-fedora-ws/commit/a9c58997d65ee7eeaad89c2628d296910d48ed83#commitcomment-39430748), I'm not convinced this is necessary at all.

[2020-05-25 23:45] ferdnyc commented on #14
Quadro K2100M is on the [390.132 support list](https://download.nvidia.com/XFree86/Linux-x86_64/390.132/README/supportedchips.html), it's in the same boat as anyone with a GeForce card older than the GT 630, and comes with all the same problems of having to figure out that the older drivers need to be installed.

Perhaps the simplest thing, as unsatisfying as it is from a user-interface perspectiv

[2020-05-26 02:06] ferdnyc commented on #3
Putting aside the question of whether you really _want to_ detect such things (why shouldn't the tool to be runnable on CentOS, or RHEL, or anywhere else the necessary dependencies are supported?), it's definitely possible. With `python3-distro` installed from the Fedora repos:
[code]

[2020-05-26 02:21] ferdnyc commented on #13
Personally I would strongly caution against this.

If akmods are going to be cleaned up automatically, the `akmods` script/service should be the one to do it. It's not the job of an installer tool to mess around inside the cache directory of some completely _different_ tool. That's not in any way an essential step in the process of installing display drivers, and there's no justification for it in

[2020-05-26 02:40] gridhead commented on #13
:+1: Got it. Let us keep this only to the installation part.

Also, I have come to notice then when Fedora Workstation (and maybe the other spins too) install a new kernel when they have an excess of five kernels already - they remove the oldest one. With the removal of the oldest of the installed kernel, packages dependent of it get removed too. You find an `akmod` kernel module build there for t

[2020-05-26 02:46] gridhead commented on #3
That is pretty clean. I would use that.

Coming to the part of making the tool run on a distribution having all the neccessary dependencies, it is totally possible to do so but it would not be of much use there. I don't think RPMFusion acts as a provider to CentOS and/or RHEL (or do they?).

But if it is executed on distributions in the likes of Ubuntu, Arch Linux etc., it should let know the user

[2020-05-26 02:54] gridhead opened #19 "Active querying from NVIDIA website to fetch the list of supported cards"
Scrape the NVIDIA website during the installer initialization and fetch the card names which are officially supported by NVIDIA.

**P.S.** I think it would be better off to be done from the RPMFusion website if they maintain a list of supported cards for their proprietary NVIDIA drivers.

[2020-05-26 04:09] ferdnyc commented on #13
Well, that's actually kind of the crux of the problem. Yes, the _installed_ packages get removed — but the _built_ packages in `/var/cache/akmods/` **don't**. New builds of every driver release against every one of the installed kernels will just keep accumulating there, literally forever. I tend to clean mine out around twice a year, usually when I'm looking to do a `dnf system-upgrade` and I'm h

[2020-05-26 04:45] ferdnyc commented on #3
Yup, in both cases: https://rpmfusion.org/Configuration
(CentOS can use the same repos as the equivalent RHEL release)

I'm almost certain they don't ship with `rpmfusion-nonfree-nvidia-driver` repo configs preinstalled, though, so `RepoInstaller.py` would need some changes. Executing some of the setup steps on that Configuration wiki page would be a prereq. The nvidia drivers are in the `rpmfusio

[2020-05-27 04:30] gridhead opened #21 "Incorrect identification of installation completion"
As shown in the image, the tool proceeds further from installation operation even when it has exited out before/without completion.
![Screenshot from 2020-05-27 09-56-04](https://user-images.githubusercontent.com/49605954/82977799-8f217480-a000-11ea-83ab-a5cf09b78273.png)

[2020-05-27 04:38] gridhead opened #22 "Incorrect identification of kernel module load operation"
As shown in the image, the installation continues even when the kernel forcing has resulted in a failure.

![Screenshot from 2020-05-27 09-56-52](https://user-images.githubusercontent.com/49605954/82978011-2981b800-a001-11ea-9ee5-708c1e5b1f07.png)

[2020-05-27 05:21] gridhead opened #23 "Remove forced sleep after installation"
The modified kernel modules are likely to be loaded up on the next boot up

[2020-05-27 06:51] #18 closed, assigned to nobody

[2020-05-27 07:50] gridhead opened #26 "Broken decline choice in package check"
The `N` input stays unrecognised during the package check confirmation

[2020-05-27 07:51] #26 closed, assigned to gridhead

[2020-05-27 07:53] #3 closed, assigned to gridhead

[2020-05-27 08:00] gridhead commented on #21
Fixed with the latest commit `ee1ff5b`

[2020-05-27 08:00] #21 closed, assigned to nobody

[2020-05-27 08:01] gridhead commented on #22
Fixed with the latest commit `0fd0fce`

[2020-05-27 08:01] #22 closed, assigned to nobody

[2020-05-27 08:14] #4 closed, assigned to gridhead

[2020-05-27 08:18] gridhead commented on #17
As multiple spins have their own implementations of polkit due to the fact that it is bound strictly to GNOME, it would not be wise to replace `sudo` with it. Rather, a complete `root` access implementation has been done as of commit `bab969f`.

Closing for now. I will reopen if more attention is needed.

[2020-05-27 08:18] #17 closed, assigned to gridhead

[2020-05-28 09:04] gridhead opened #30 "Provide support for installing CUDA tools if asked"
A command line option would be provided for users who want to install CUDA tools using the installer.

[2020-05-28 09:50] #23 closed, assigned to gridhead

[2020-05-28 14:40] gridhead opened #32 "Documentation needs critical correction"
There are certain information not provided correctly on the README.md.
- The binary is not executable from the get-go so requires a `chmod +x NVAutoInstFedora32` first
- The documentation does not state about root permission and how to obtain it

[2020-05-28 14:42] Ank-22 commented on #32
Can you assign this to me? I will study and update it

[2020-05-28 14:52] gridhead commented on #32
Sure thing. :slightly_smiling_face:

[2020-05-29 05:48] gridhead opened #33 "Visibility is compromised if terminal has custom theme"
The textual content of the standard messages need not be themed to be `white`. Let the terminal decide the color at that time or else the `white` overlay would become exclusive to black background terminals only.
![Screenshot from 2020-05-29 11-12-51](https://user-images.githubusercontent.com/49605954/83225606-ced19300-a19d-11ea-8768-20b916da67f0.png)

[2020-05-29 06:23] #33 closed, assigned to nobody

[2020-05-31 04:59] #32 closed, assigned to Ank-22, gridhead

[2020-05-31 05:01] gridhead opened #36 "Proper detection of Optimus setups"
As @ferdnyc remarked, checking for newlines on an `lspci` output is truly a shabby way to detect an Optimus setup. This must be reworked upon to facilitate better detection with corner cases.

[2020-05-31 05:21] gridhead commented on #33
Fixed with the PR #34

[2020-06-01 05:25] gridhead opened #37 "Add automatic detection and configuration for Legacy Geforce 400/500"
Specific support is needed for
- Proprietary 390.xx drivers for the legacy discrete cards
- Proprietary CUDA support upto 9.2 for the legacy discrete cards

[2020-06-01 05:27] gridhead opened #38 "Add automatic detection and configuration for Legacy Geforce 8/9/200/300"
Specific support is needed for
- Proprietary 340.xx drivers for the legacy discrete cards
- Proprietary CUDA support upto 6.5 for the legacy discrete cards

[2020-06-01 05:34] gridhead opened #39 "Add automatic detection of EOL'd GPUs and exit out"
The following GPUs are no longer supported with proprietary drivers from RPM Fusion and the installer should exit out without installation when these are detected.
- Legacy Geforce 6/7
- Legacy Geforce 5 (FX series)
- Legacy Geforce 2 through Geforce 4

[2020-06-01 05:37] gridhead opened #40 "Provide support for installation of NVENC/NVDEC for FFMPEG"
RPM Fusion support ffmpeg compiled with NVENC/NVDEC with Fedora 25 and later. You need to have a recent NVIDIA card (see the support matrix) and install the cuda sub-package.

This cannot be installed if CUDA is not detected and if the GPU is not recent.

[2020-06-01 05:57] gridhead commented on #40
Find further reading content [here](https://developer.nvidia.com/ffmpeg).

[2020-06-01 13:38] Crimsonfantasy opened #41 "v0.25 RPM fusion NVIDIA chould not be enable"
hi,
i have a issue when installing. Here is my prompt message:
[code]

How do I fixed it?
Thank you.`

[2020-06-01 13:51] Crimsonfantasy commented on #41
hi i am the questioner,
I found the solution thought  enabling Nvidia fusion manually.
The guideline is written in here:
[how to enable Nvidia fusion](https://ask.fedoraproject.org/t/optimus-setting-the-nvidia-gpu-as-primary-rpmfusion-in-fedora-32-workstation/6550/3)

[2020-06-01 13:56] gridhead commented on #41
Which version of Fedora are you using? Is it Workstation or one of the spins?

[2020-06-01 17:28] gridhead commented on #41
Don't bother answering that. It indeed was a bug. I tested it on Fedora Workstation and KDE spin and found it. I have fixed it in the [latest merge](https://github.com/t0xic0der/nvidia-auto-installer-for-fedora/commit/50f5654a97ba986a6b0cfd2a6036f6c8345f2aed) and will be making a release with the bug fix shortly.

Thank you for marking out the issue. @Crimsonfantasy

[2020-06-01 17:48] gridhead commented on #41
Check this [version](https://github.com/t0xic0der/nvidia-auto-installer-for-fedora/releases/tag/v0.2.6). The issue should be resolved now.

[2020-06-01 17:48] #41 closed, assigned to nobody

[2020-06-04 12:27] #2 closed, assigned to gridhead

[2020-06-04 12:27] gridhead commented on #2
This is fixed with the latest merge #42.

[2020-06-04 12:28] gridhead commented on #40
This is fixed with the latest merge #42.

[2020-06-04 12:28] #40 closed, assigned to nobody

[2020-06-04 12:28] gridhead commented on #30
This is fixed with the latest merge #42.

[2020-06-04 12:28] #30 closed, assigned to gridhead

[2020-06-11 16:36] shirishgoyal commented on #5
I tested the KDE Plasma spin and it worked fine. Only additional change I had to do was to turn SELinux to permissive mode.

While it was in Enforcing mode, there was an error while installing akmod which despite all attempts was not working. It always resulted in below error:
useradd:libbz2.so.1: failed to map segment from shared object

I tried installing libbz2-devel lib but it didn't solve the

[2020-06-11 17:31] gridhead commented on #5
Thanks for your attention in this issue. Does the SELinux needs to stay in permissive all the time or is it required only during the installation process?

[2020-06-11 17:33] gridhead commented on #5
Also there are probably two ways of dealing with this. One is where we leave behind your comments in the documentation such that people using KDE spin can adhere to it as a general fix. Other is to actually explore in depth the causative agent of this issue and deduce a specific fix for it.

Would you be wiling to contribute to this project? If so, I will assign you to this issue.

[2020-06-12 06:07] shirishgoyal commented on #5
I don't think it is a KDE specific issue. In your vanilla Fedora 32, what was the default status of SELinux?

[2020-06-12 06:43] gridhead commented on #5
I did not bother to check the SELinux status on Workstation as the tool worked flawlessly anyway. I wish I had a copy of Fedora 32 Workstation lying around so that I could execute a quick `sestatus` to check it.

[2020-06-12 16:06] gridhead opened #43 "Need direct conversion from Python to C++"
Task has limited timeframe. Any help is appreciated.

[2020-06-28 04:22] sylvoie opened #44 "dnf update failed : conflict vidia-kmod-common-3:440.95.01-1.fc29.x86_64"
Hello,

First, thank you very much for this super tool.

This is what I did :

- Fresh installation of fedora 32.
- SELinux off (same problem than issue : "Generalize and test the tool in KDE Plasma spin #5")
- dnf update
- installed nvidia driver (all steps)
- reboot
- installed some tools like VSC.
- reboot
- installed KDE and Xfce
- reboot
- dnf update (error)

I received that message :

Erreur

[2020-06-28 09:40] gridhead commented on #44
Fedora Workstation or any one of the spins? (Or as told by you later, specifically KDE Plasma spin?) The question might sound irrelevant but it still can give leads to me as to where I can start reproducing this bug.

The tool worked on devices I tested (both laptop and desktop PCs having Workstation 32) without actually needing to tweak the SELinux settings. It might be necessary for the KDE Plas

[2020-06-28 12:33] sylvoie commented on #44
Hello,

Fedora workstation 32 base on Gnome that I downloaded last friday. Yes I will probably try the "KDE Plasma spin" later.

I understand, and I tried several times with always the same result when SELinux is enabled. SELinux was "enforcing" and I need to disable to successfully install.

Before using "KDE Plasma spin", I will reinstall "Fedora workstation 32" without installing KDE and XFCE t

[2020-06-28 15:38] sylvoie commented on #44
Hello,

I reinstalled from scratch and followed these steps :

- Install Fedora 32 workstation
- sudo yum update
- SELinux = permissive
- reboot
- sudo ./NVAutoInstFedora32 --rpmadd
- sudo ./NVAutoInstFedora32 --driver
- sudo ./NVAutoInstFedora32 --x86lib
- sudo ./NVAutoInstFedora32 --nvrepo
- sudo ./NVAutoInstFedora32 --ffmpeg
- sudo ./NVAutoInstFedora32 --vidacc
- reboot
- sudo ./NVAutoInstFedor

[2020-06-28 16:37] gridhead commented on #44
That is okay. CUDA is not actively maintained but the thing made in F29 works just as great in F32.

Definitely not. French is one of the leading languages in Weblate with much of the part already translated and accommodated to.

CUDA might just be the core reason behind this. As the F29 CUDA repos require drivers exclusively for F29, it is turning up even for `akmods-nvidia` package. There is not

[2020-06-28 16:41] gridhead commented on #44
The CUDA problem is definitely an issue with the RPM package available in the official RPM Fusion repositories and not with the installer (as it simply automates the steps listed [here](https://rpmfusion.org/Howto/NVIDIA) and [here](https://rpmfusion.org/Howto/CUDA) in a convenient way.) The CUDA package is not up-to-date and pulls outdated packages as its dependencies.

[2020-06-30 12:44] sylvoie commented on #44
Hello,

I agree with you, that problem is not with the installer. Thank you for this installer, it saved my personal project to run first in Linux.

I installed and I confirm that this installer works well with Fedora 32 spins Xfce without CUDA (--nvrepo --plcuda). I can install CUDA, and that is working fine, but after that updates are stuck because CUDA package is not up-to-date.

At this time,

[2020-07-20 10:03] lcts commented on #16
I'd like to help, but don't have the time right now. So if someone wants to take a look at this:

The script already builds without issue for [both RHEL/CentOS7 & 8](https://copr.fedorainfracloud.org/coprs/lcts/nvautoinstall/build/1565096/), so at least all the script's dependencies are satisfied. So to get this working on RHEL/CentOS, initially one would have to
 - detect if on CentOS/RHEL
 - rep

[2020-07-26 03:01] gridhead commented on #16
Apologies for the delayed response from my end. College life is getting difficult (and it always it - don't let anyone tell you any different :laughing:)

I am using the `distro` package in Python for detecting the distribution name and all other attributes. The same can be put to use for detecting CentOS/RHEL the very same way they are used for detecting specifically Fedora.

Now that's where we

[2020-07-26 07:18] lcts commented on #16
The yum/dnf discrepancy will become a non-issue at some point, as RHEL/CentOS8 already uses dnf. But in any case, it's not complicated to work aroun: Put the executable name in a variable, and perform the actual install command with `$varname install ...`, then set varname = dnf/yum as appropriate after detecting the OS.

The CUDA repos [is split between the different distros](http://developer.dow

[2020-07-27 17:22] lcts commented on #16
OK, so I had a look at the direct dependencies, that seems mostly OK. `vulkan` is provided by `vulkan-loader` on fedora and el8, but the package has the appropriate `Provides:` so a switch is not strictly needed (though probably a good idea). For some reason, `libva-utils` is missing in EPEL8. The other deps are fine.

[2020-09-10 18:28] gridhead opened #46 "Remove colorama dependency"
Text coloring is supported by `click`. We can safely remove `colorama` after writing codes which allow for colors using `click`.

[2020-09-15 04:10] gridhead opened #47 "Crash during compatibility check in Arch Linux"
Not that, it should be compatible with Arch Linux anyway but still, the compatibility check should run fine in all major distributions. Arch Linux does not seem to have a distribution version which causes the error.

![image](https://user-images.githubusercontent.com/49605954/93164520-52a49080-f737-11ea-894d-0be29cc2770a.png)

[2020-09-15 13:58] gridhead opened #48 "Inability to package untill PyInstaller provides support for Python 3.8"
This might need your attention @lcts. There is stuff changed in one of the branches which do not run on Fedora 32 Workstation when they are packaged into an executable binary by PyInstaller. On searching deep, I figured that it is the Python version to blame as PyInstaller does not provide support for Python 3.8 (or above).

Any solution for this?

[2020-09-16 06:43] gridhead opened #49 "CUDA software could not be installed as server can't be pinged"
The server at `developer.download.nvidia.com` could not be pinged to and returns a 404 response code. Due to the failure of the ping operation, the installer cannot continue. Pinging for the availability of the repo link is suggested as it is much more effective.

Also, the repository link has changed from `http://developer.download.nvidia.com/compute/cuda/repos/fedora29/x86_64/cuda-fedora29.repo`

[2020-09-16 10:29] lcts commented on #48
Sort of.
Apparently, 3.8 support will be in PyInstaller 4.1, [which should be available soon, or you can try their development branch](https://github.com/pyinstaller/pyinstaller/issues/4311#issuecomment-688532918). I don't know how likely it is that the latter will cause other problems with the created binaries, but given that the devs deem 4.1 almost ready, it should be fine.

However, personally

[2020-09-16 16:49] gridhead commented on #48
True. Plus check [this](https://pagure.io/fedora-docs/quick-docs/pull-request/268) out. Dropping the executable binaries would help me to not worry about distro identification and handling as I can be sure that the package (in COPR) would only be accessible in places where it is supposed to run. I guess, it is now time to say goodbye to our PyInstaller-based binaries. Once, the COPR is tested and

[2020-09-23 03:13] gridhead opened #51 "Package unavailable with the most recent changes"
@lcts, now that the most recent changes are merged, please go ahead and build a package with the latest changes.

[2020-09-23 03:21] gridhead commented on #49
Fixed with the most recent merge #50.

[2020-09-23 03:21] #49 closed, assigned to gridhead

[2020-09-23 03:21] gridhead commented on #47
Fixed with the most recent merge #50.

[2020-09-23 03:21] #47 closed, assigned to gridhead

[2020-09-23 03:28] gridhead commented on #48
I am keeping this open until we get a robust COPR (which we have now, the only thing needed is a version bump and a lot of rigorous QA testing) then we can slowly phase out the PyInstaller based binaries.

To-do
- Version bump the COPR and perform QA tests on devices
- Hit the mailing list to find folks interested to test this tool
- Rename the tags and binary versions as LEGACY to note phasing ou

[2020-09-23 03:30] gridhead commented on #46
Fixed with the most recent merge #50.

[2020-09-23 03:30] #46 closed, assigned to gridhead

[2020-09-23 03:46] gridhead commented on #44
The differences between the versions made available on the NVIDIA site and on the RPM Fusion repositories is due to the fact that recompiling the versions acquired from the NVIDIA site into an RPM package takes time, which then creates an offset. This should not be a concern though as you would always have a slightly older but rock stable drivers as a result of Fedora-specific configurations and t

[2020-09-23 08:04] lcts commented on #48
I rebuild the package on Copr from your master branch, so it now has the latest version (0.3.5). If you've previously installed it, you'll have to uninstall & reinstall to get the new package, because I messed up the version number in my branch (0.4 instead of 0.3), so the upgrade path is broken. I already removed the previous builds from the repo, so this is not an issue if you don't have the pac

[2020-09-23 12:03] gridhead commented on #48
Let me check it real quick and confirm that to you.

@lcts, I uninstalled the package (`dnf remove nvautoinstall`) and ran an update (`dnf update`). Then I proceeded to install the package back (`dnf install nvautoinstall`) but I am still getting back the old version with the same dependencies. Was I supposed to remove the COPR repo and add it again or did I do it right?

[2020-09-25 04:42] gridhead opened #52 "Add CONTRIBUTING.md and CODE_OF_CONDUCT.md"
In the spirit of getting more contributors for the project, the above documents would be appreciated.

[2020-09-25 05:57] codeperfectplus commented on #52
@t0xic0der I like to be assigned for the adding `CONTRIBUTING.md` docs.

[2020-09-25 05:59] gridhead commented on #52
Thank you for considering the issue, @codePerfectPlus. If you are considering the issue, please consider it wholly and add CODE_OF_CONDUCT.md as well.

[2020-09-25 06:14] codeperfectplus commented on #52
Yeah I will add CODE_OF_CONDUCT.md too.

[2020-09-25 06:24] gridhead commented on #52
Cool. Thanks. :smile:

[2020-09-29 11:12] changemenemo opened #54 "symbolic link vdpau"
Not sure it concerns your script because I don't recall if your script does take into account the vdpau plugin.
But What I can see on my install after a few upgrades through dnf, is that the symbolic link of /usr/bin/libvdpau_nvidia.so doesn't point to the correct lib
`here : lrwxrwxrwx.  1 root root       31 Jul 21 21:01 libvdpau_nvidia.so -> vdpau/libvdpau_nvidia.so.440.36`

and should be:
`lrwx

[2020-09-29 18:26] gridhead commented on #54
You guessed it right. My script does not really consider or make such changes. You would want to report the same to Fedora's bugzilla under the akmods package I think.

[2020-09-29 18:50] gridhead commented on #52
Hi @codePerfectPlus, Be sure to get yourself registered at https://organize.mlh.io/participants/events/4659-hack-astrosonic, our official Hacktoberfest event to stay in touch with the fellow contributors of this project.

Also, feel free to leave a star on the project - should you find it worth your time. Happy hacking! :smile:

[2020-09-30 01:10] changemenemo commented on #54
I need to put a reminder on my to-do list because I m not sure I already did report to them anything so I will first need to check which website is it etc and I have a lot of things to do first. Could you ping me sometime to do it? Unless you have already all the right links and so that it can speed up my process

[2020-09-30 05:06] gridhead commented on #54
Here you go. https://bugzilla.redhat.com/.

I am completely packed up this October for I am working on representing Fedora for this Hacktoberfest. Do register for the event. https://organize.mlh.io/participants/events/4779-foss-and-fedora. :smile:

[2020-10-01 04:26] shristi54 commented on #43
Can I pick up this issue? I think I can work upon it!

[2020-10-01 04:28] gridhead commented on #43
Cool. I will assign you this issue. Be sure to get yourself registered at https://organize.mlh.io/participants/events/4659-hack-astrosonic, our official Hacktoberfest event to stay in touch with the fellow contributors of this project.

Also, feel free to leave a star on the project - should you find it worth your time. Happy hacking! :smile:

[2020-10-03 12:56] erdius opened #55 "Fedora 33 support"
The tool is currently not working of Fedora 33 beta

[2020-10-03 13:24] gridhead commented on #55
Thanks for marking this out. Could you please tell what problems you are facing?

[2020-10-04 10:10] ediX0 commented on #55
Same issue here,  i have tested the tool before on Fedora 32 so i know it works on my hardware.
No errors while running it after the reboot i'm unable to launch Nvidia X Settings.

[ ✔ ] Driver package installation completed!
[ ! ] Commencing mandatory sleep for 5 minutes to load up kernel modules
[ ✔ ] Modified kernel modules have been loaded up!
[ ✔ ] FORCING READ FROM NEW KERNEL MODULES...
Chec

[2020-10-04 11:36] gridhead commented on #55
@ediX0 Please use the most recent version of the tool. That does away with the mandatory sleep times. Also, is it failing on F32 or F33 Beta for you?

[2020-10-04 14:24] erdius commented on #55
On F33 and 0.3 of your tool.
I think there was a problem with Nvidia drivers a few days ago, i reran the tool today and it didn't error out this time and seemed to install correctly, but I still don't see the driver being loaded on an optimus laptop after a reboot.

`$glxinfo | egrep "OpenGL vendor|OpenGL renderer"
OpenGL vendor string: Intel
OpenGL renderer string: Mesa Intel(R) UHD Graphics 620

[2020-10-05 02:46] gridhead commented on #55
For PRIME support, I wrote a guide [here](https://docs.fedoraproject.org/en-US/quick-docs/how-to-set-nvidia-as-primary-gpu-on-optimus-based-laptops/). Check if it helps you.

P.S. The tool simply automates the installation of NVIDIA drivers but Optimus configurations differ from device to device so certain attention to know they should be set up is necessary.

[2020-10-05 06:54] ediX0 commented on #55
My issue is also with an optimus laptop, exactly the same problem as erdius.
Guess I will stick with F32 for now as it works automatically by just installing akmod-nvidia.

Can't run "always on Nvidia" because i need the battery life aswell on the go.

[2020-10-06 07:30] ediX0 commented on #55
FYI, tried the guide to force the Nvidia CPU by the guide and this doesnt seem to work either.

[2020-10-15 15:10] gridhead commented on #52
Closing this issue as it was addressed with #53.

[2020-10-15 15:10] #52 closed, assigned to codeperfectplus

[2020-11-01 02:59] gridhead commented on #43
Any updates, @shristi54?

[2020-11-11 03:22] gridhead commented on #55
Hrm strange. Could you detail on what exactly went wrong?

[2020-11-30 11:53] Vulgaris-Viridis opened #56 "Installation succeeded but updates broken on fedora 33"
Ok so i folllowed the steps outlined by @sylvoie in [this thread](https://github.com/t0xic0der/nvidia-auto-installer-for-fedora/issues/44#issuecomment-650782267) and I had driver failing and falling back to noveau.

then i **cd**-d to '**/usr/sbin'** and used '**akmods --kernels $(uname -r)**' to rebuild kernel which prompted me to install akmods which apparently weren't installed

After that i re

[2020-11-30 12:00] Vulgaris-Viridis commented on #56
_2/2_

afterwards (sudo) **dnf update** shows errors:
_(forcing '--best --allowerasing' doesn't help)_

Last metadata expiration check: 1:12:37 ago on Mon 30 Nov 2020 02:35:30 PM CET.
Dependencies resolved.

 Problem 1: package nvidia-driver-libs-3:440.95.01-1.fc29.x86_64 obsoletes xorg-x11-drv-nvidia-libs provided by xorg-x11-drv-nvidia-libs-3:455.45.01-1.fc33.i686
  - cannot install the best upd

[2020-12-11 01:30] Vulgaris-Viridis commented on #56
Closing unsolved issue cause the repo appears to be dead and no longer maintained.

[2020-12-11 01:30] #56 closed, assigned to nobody

[2021-02-03 14:55] NicTanghe commented on #16
Anny ETA on this ?

[2021-02-03 14:58] gridhead commented on #16
Hello,

I am yet to investigate the nuances to be considered and the dependencies
to include when implementing the tool in RHEL8/CentOS8/CentOS Stream etc.
Feel free to join the development to make the port happen sooner.

Thanks,

On Wed, Feb 3, 2021 at 8:25 PM NicTanghe <notifications@github.com> wrote:

[2021-02-03 15:01] NicTanghe commented on #16
I`ll gladly help but i mostly need this becouse i always fail at installing video drivers.
i`m about to start following these instructions for RHEL8
https://access.redhat.com/solutions/4134381

I think they might help figuring out variables.

[2021-02-03 15:06] gridhead commented on #16
The article that you have provided is not generally accessible without a
Red Hat account. Could you share some other references which are
accessible?

Maybe consider sending a PDF of the webpage that this link opens up.

On Wed, Feb 3, 2021 at 8:32 PM NicTanghe <notifications@github.com> wrote:

[2021-02-03 15:08] NicTanghe commented on #16
I can do you one better.
Just get a dev acount here.
https://developers.redhat.com/articles/getting-red-hat-developer-subscription-what-rhel-users-need-know

[2021-02-03 15:11] gridhead commented on #16
I am currently not interested in making a developer account. Please provide
an alternative documentation for reference.

On Wed, Feb 3, 2021 at 8:38 PM NicTanghe <notifications@github.com> wrote:

[2021-02-03 15:13] NicTanghe commented on #16
Resolution

Note: Depending on the GPU, you may not have graphics at all to start, so you will need to download the NVIDIA driver for your GPU on another computer, and transfer it to the target machine via alternative means. At the time of this writing, this will be the case with Volta/Turing family GPUs.

Note: At the time of writing, the NVIDIA proprietary driver does not work with Wayland. You

[2021-02-03 15:15] gridhead commented on #16
Thanks. I'd go through this writeup and see if I can help.

On Wed, Feb 3, 2021 at 8:43 PM NicTanghe <notifications@github.com> wrote:

[2021-02-03 15:16] NicTanghe commented on #16
THX you a hero. installing gfx drivers is always the biggest hurdle 4 me.

[2021-02-03 15:19] gridhead commented on #16
You're welcome. I'd keep you posted about the progress made.

On Wed, Feb 3, 2021 at 8:46 PM NicTanghe <notifications@github.com> wrote:

[2021-02-03 17:45] NicTanghe commented on #16
Oh well following the guide doesn't work for me becouse the driver doesn't compile.
Then i found this.
https://developer.nvidia.com/blog/streamlining-nvidia-driver-deployment-on-rhel-8-with-modularity-streams/
I`ll keep u updated.

[2021-04-29 03:01] gridhead opened #58 "Add option for rebuilding kernel modules for newly selected kernel"
Simply execute the following

[code]

[2021-04-29 13:39] changemenemo commented on #55
Hi,

I'm going to test it with fedora 34 today, but before that I've seen that there was an update for cuda for fedora 33 so I will upgrade to that before to make the upgrade then we'll see what happens.

update:
I apparently need some updates because the version of the packages are not up to date:
[code]

[2021-04-29 15:40] gridhead commented on #55
Thanks @boistordu. Do let me know of the results. :)

[2021-04-29 17:58] changemenemo commented on #55
still on fedora 33
don't really understand why `sudo dnf -y module install nvidia-driver:latest-dkms`
and why a simple dnf update --refresh would install the new version of cuda if the previous would not be needed. I guess this is because of the installation of xorg which is not what's the command from nvidia is about?
I didn't reboot. I will do it in a moment .

[2021-04-29 19:20] changemenemo commented on #55
which mode are you recommending by the way to install drivers and cuda and vdaapi? Because it has changed a lot from when I did this 1 year or more agao

[2021-04-29 22:27] changemenemo opened #59 "0.3.5"
You new release is an archive... not the usual script... So what do you want us to do with it?
Thanks

[2021-04-29 22:57] changemenemo commented on #55
okey the installation under fedora 34 is completely broken and not functional.
the rpmfusion are activated:
[code]
I had to remove every single nvidia packages and now I guess I can't even reboot because I won't have nay graphical UI after that.

[2021-04-29 23:51] changemenemo commented on #55
okey so because of this modular filtering that I do'nt know how to get rid off and which your script would be nice to be able to get rid off, I could not download anythign through your installer and dnf, I had to download everything manually through https://fedora.pkgs.org/34/rpmfusion-nonfree-x86_64/ and wget for each and everyone packages. IT's really upsetting. Did your script activate this fil

[2021-04-30 03:24] gridhead commented on #59
Hi @boistordu, the most recent release is now packaged and made generally available at COPR.

Simply execute the following commands in succession to install the tool.

[code]

[2021-04-30 03:43] gridhead commented on #55
don't really understand why `sudo dnf -y module install nvidia-driver:latest-dkms`
and why a simple `dnf update --refresh` would install the new version of cuda if the previous would not be needed. I guess this is because of the installation of xorg which is not what's the command from nvidia is about?
I didn't reboot. I will do it in a moment .

The dependencies are broken either at RPM Fusion's

[2021-04-30 19:26] changemenemo commented on #55
Will answer all your request soon but I had a difficult couple of days.

About the modular filtering I don't know how it got there besides your script, this is my only lead because it's your script that reinstalled properly in fedora 33 in augustus or later maybe my drivers, I think we even have discussed that at the time on the forum.
The modular filtering have been mentioned several times when I

[2021-05-01 02:23] gridhead commented on #55
Yep. It is something that even @kwizart mentioned in one of his most recent responses.

[2021-05-01 14:45] changemenemo commented on #55
I still didn't have the time to track and understand what's this modular filtering in fedora. It's the first time that I've encountered it in any distributions so I'm a bit frustrated.
But maybe aside of that, or maybe it is linked, I would like more explanations about how the whole system of drivers isntallation + cuda is supposed to go. And then maybe I can put together a more hollistic approach

[2021-05-01 14:50] kwizart commented on #55
Disabling  module is "required" by the official CUDA howto once the nvidia cuda repository is enabled.
https://rpmfusion.org/Howto/CUDA
dnf module disable nvidia-driver
 etc.

Also the openh264 repository failure is on fedora side, its path has to be adapted for f34

[2021-05-01 15:36] changemenemo commented on #55
@kwizart yeah don't worry about thatI was totally aware of that for a long time now, it just added to the log file that's all.

But then how are we supposed to proceed when installing cuda? Does that mean that we can't have the cuda installed at the same time that the graphic optimization from the nvidia drivers? Or are we supposed to stay with older drivers like fc33 packages and cuda installed e

[2021-05-07 06:34] changemenemo commented on #59
okey thanks for  that.

[2021-05-07 06:34] #59 closed, assigned to nobody

[2021-05-07 06:36] changemenemo commented on #55
okey so according to :
https://dnf.readthedocs.io/en/latest/modularity.html#package-filtering

if I understand correctly, all packages needs to be declared as being part of the module right?
Well are we sure that the installer is not installing packages that are not compatible with the module in question that could trigger the modularity filtering?
Do you want another github issue about this?

[2021-05-09 15:05] gridhead commented on #55
https://rpmfusion.org/Howto/CUDA
dnf module disable nvidia-driver
etc.

@kwizart noted. I would promptly introduce the said changes in a quick update. Thanks for marking it out.

@boistordu I wrote a writeup which you can find [here](https://ask.fedoraproject.org/t/solution-modular-filtering-issue-for-nvidia-drivers-cuda-sources-conflict/14063) which has inferences for this issue.

[2021-05-20 17:32] gridhead opened #61 "Add automatic PRIME configuration for Optimus-supported devices"
The initial releases should be constrained to Workstation only by making changes in the CONF file but should slowly expand to include other notable spins as well.

[2021-05-22 15:04] #61 closed, assigned to gridhead

[2021-05-26 23:41] DSeeLP opened #63 "Nvidia driver not loading"
I ran
[code]
And it said that the driver installed successfully. I restarted my system and found out that the nvidia drivers aren't loaded, instead the nouveau driver was loaded.

How can i fix this?
Im running Fedora 34.
My graphics card is a GTX970.

[2021-05-26 23:44] DSeeLP commented on #63
Im using a fresh install of Fedora 34 with kernel 5.12.6

[2021-06-26 18:02] viniciusferrao commented on #38
Hi @t0xic0der there's any way to force it right now? I'm trying to use the software to install the drivers of a GeForce 9400M in a 2009 Mac Mini.

[2021-06-27 02:40] gridhead commented on #38
@viniciusferrao,

This would require reading the output of the following commands first,

[code]

and

[code]

The example output for the first one is

[code]

and the same for the second one is

[code]

Then applying a custom regular expression filter to differentiate between the cards and their variants.

As I am not able to devote enough time to write regex, for now, I would most likely be able

[2021-07-01 19:14] marifcelik opened #64 "Error after installation - Nvidia kernel module missing"
installed without any problems, but I got this error on the boot. Nvidia app won't open. Im using Lenovo ideapad Gaming 3-15ARH05 Laptop - Amd Ryzen 7 4800H and Gtx1650ti.
screenshot: https://www.hizliresim.com/rzmzq4v

[2021-07-17 08:16] gridhead opened #65 "CUDA installation for a specific version"
There are certain situations where people using Tensorflow and other such libraries require a specific version of CUDA. Albeit the installer provides the most recent one, CUDA installation of multiple versions can coexist (with minor replacements with the dependencies used by either) so the users should be given a choice to do that.

[2021-07-17 23:01] Exordio commented on #64
same error

[2021-07-18 03:42] gridhead commented on #64
Hey @arifcelik56 @Exordio,

Sincere apologies for the delayed reply. Could you please check if the secure boot is turned off or not?

[2021-07-18 03:55] Exordio commented on #64
Yes, I have already solved my problem. After rebuilding the computer in the BIOS, for some reason, secure boot turned on.
The funny thing is, I disabled it before and the driver worked fine. In general, what the hell did he turn on, I don't know xd.

[2021-07-18 12:41] marifcelik commented on #64
Hi @t0xic0der .
Secure boot was off but I hadn't checked at the time. I deleted it to be able to use the computer but I will install it again soon. I'll post the result here.

[2021-08-11 03:14] gridhead commented on #55
Closing this issue via #60

[2021-08-11 03:14] #55 closed, assigned to gridhead

[2021-08-11 13:24] dicatalin opened #69 "laptop display still not working with kernel above 5.12"
I don't know if this is the right place but on Fedora 34 with kernel above 5.12, laptop display are still not working after installing the drivers. Funny thing is that an external monitor connected over hdmi is working.
HP ProBook 450 G7, I7-10510U CPU, Nvidia GeForce MX250 OS: Fedora release 34 (Thirty Four)

[2021-08-12 07:51] gridhead commented on #69
Hey @dicatalin, I would request you to redirect your question to https://ask.fedoraproject.org/ as yours is more related to the actual driver and not the installer. Thanks for reaching out.

[2021-08-12 07:51] #69 closed, assigned to gridhead

[2021-08-12 07:53] gridhead commented on #64
Closing this issue as fixed. For folks who come across a similar issue, try toggling the secure boot to see if it works.

[2021-08-12 07:53] #64 closed, assigned to gridhead

[2021-08-18 19:45] kernelwernel opened #71 "Minor typo in README.md"
Line 45 should be "acceleration" rather than "accleration". I'm aware this is really nit-picky, but I thought it was worth mentioning.

[2021-08-19 01:29] #71 closed, assigned to kernelwernel

[2021-10-05 23:52] HNGamingUK opened #75 "Fedora 34 - Nvidia driver not loading"
Hello,

Today I attempted to install the nvidia drivers using this tool, I used the following options:

`--rpmadd --driver --nvrepo --plcuda`

However it can be noted that after a reboot it does not load the Nvidia drivers. As shown by `nvidia-smi` not working and the about page under settings showing NV166.

[code]

![image](https://user-images.githubusercontent.com/5269015/136118280-7a57b025-525

[2021-10-06 02:43] HNGamingUK commented on #63
Did you ever work out what caused this? I am having the same issue and running 2060 Super.

[2021-10-06 03:25] gridhead commented on #63
Could you please check if you have secure boot enabled?

[2021-10-06 03:25] gridhead commented on #63
Also, I would suggest posting your questions at https://ask.fedoraproject.org/ as the issue is more related to the driver and not with the installer.

[2021-10-06 03:25] #63 closed, assigned to nobody

[2021-10-06 08:09] HNGamingUK commented on #75
After reading over the pre-reqs for nvautoinstall I remembered that there is high potential for Secure Boot to be enabled as my previous install was Windows.

I checked BIOS and low and behold it was! So I disabled it.

I then removed all Nvidia packages with `sudo dnf erase '*nvidia*'` and rebooted. After which I ran the nvautoinstall again, one final reboot later it seems to be working!

I will

[2021-10-06 14:10] #75 closed, assigned to nobody

[2021-10-07 10:34] HNGamingUK opened #76 "Fedora 34 - Incorrect Nvidia cuda repo"
It has been noted that for Fedora 34 the nvautoinstall tool actually adds the Nvidia cuda repo for Fedora 33....

I believe this should be fixed as there is a Fedora 34 repo. For the majority of users I can imagine this won't cause much of an issue, however it has been noted in the following rpmfusion bug report https://bugzilla.rpmfusion.org/show_bug.cgi?id=6105 that OBS will fail to work on Fedo

[2021-11-06 10:28] CleanHit opened #77 "Fedora 35 KDE Plasma: RPM Fusion repository for Proprietary NVIDIA Driver was not found"
I'm using Fedora 35 KDE Plasma on a Asus Zephyrus G14 laptop with GTX 1600 TI (Max-Q). I haven't been using Nvidia drivers on Linux so far and I'm trying this out for the first time using this repo. When I run `sudo nvautoinstall --rpmadd` I get:
[code]
I do have `rpmfusion-nonfree` and `rpmfusion-free` packages installed

[2021-11-07 01:28] gridhead commented on #77
Thanks for reporting. I'll investigate the issue and get back to you on this.

[2021-11-07 19:14] YousefSaber opened #78 "Fedora 35 NVIDIA kernel module missing. Falling back to nouveau"
[code]

I disabled secure boot and also followed these [steps](https://ask.fedoraproject.org/t/fedora-34-nvidia-kernel-module-missing-falling-back-to-nouveau/13785/5?u=josephsaber40)
[code]

I used the command
[code]
to install my drivers do you think I should try another option ?

my NVIDIA GPU is Geforce 920M

[2021-11-08 02:01] gridhead commented on #78
The driver seems to have installed correctly and that is unfortunately the scope of the project. Could you please open up a topic at https://ask.fedoraproject.org/ on this - there are a lot of folks who can help you with this?

Sincere apologies for not being of much assistance.

[2021-11-08 02:02] gridhead commented on #76
@HNGamingUK, thanks for bringing it to my attention.

I will promptly add the suggested repositories.

[2021-11-08 10:30] YousefSaber commented on #78
I've already [reported](https://ask.fedoraproject.org/t/nvidia-failure-after-f35-upgrade-geforce-gt740-now-legacy-for-f35/17691) this problem thanks you very much

[2021-11-08 10:30] #78 closed, assigned to nobody

[2021-12-15 13:14] gridhead opened #79 "Configure project installation using Poetry"
Configure project installation using Poetry

[2021-12-15 13:15] gridhead opened #80 "Replace options with commands on Click"
Replace options with commands on Click

[2021-12-16 07:51] #76 closed, assigned to nobody

[2021-12-16 07:51] #77 closed, assigned to nobody

[2021-12-16 07:51] #79 closed, assigned to gridhead

[2021-12-16 07:51] #80 closed, assigned to gridhead

[2021-12-25 08:58] CleanHit commented on #77
@t0xic0der thank you for fixing this issue and happy new year!

[2022-01-08 14:15] aanno opened #82 "xorg-x11-drv-nvidia-3:495.46-1.fc35.x86_64 is filtered out"
I'm on fedora 35 and as I'm facing trouble using nvidia with kernel 5.15.11 and 5.15.12 (it is working with 5.15.10). Hence I decided to give nvidia-auto-installer-for-fedora-linux a try.

[code]

For me, it looks like the problem being trigger by `xorg-x11-drv-nvidia-3:495.46-1.fc35.x86_64` being filtered out:

[code]

[code]

[2022-01-08 16:47] gridhead commented on #82
Hi @aanno, here's a support article that I wrote about this issue https://ask.fedoraproject.org/t/solution-modular-filtering-issue-for-nvidia-drivers-cuda-sources-conflict/14063. Please check if this helps solving your issue.

[2022-01-09 12:03] aanno commented on #82
Well, you suggestion (see below) works and also fixes your  `nvidia-auto-installer-for-fedora-linux`. However, plasma on X11 still not works with kernel 5.15.12 (but plasma on wayland is usable).

So, this is what I did:

[code]

Complete output for reference:
[code]

[2022-01-09 18:17] gridhead commented on #82
Unfortunately, this has to do with the driver and not the installer as the installer has apparently configured the driver properly. I would suggest reaching out to the folks at RPM Fusion who work on maintaining these drivers and see if they have any solutions for this.

[2022-01-11 18:03] aanno commented on #82
Reported the problem at https://bugzilla.rpmfusion.org/show_bug.cgi?id=6193
Thank you for suggestion!

[2022-01-11 18:13] aanno commented on #82
BTW, isn't `nvautoinstall` to solve issues like the one I encountered automatically?

[2022-01-12 04:10] gridhead commented on #82
@aanno, it should as I mentioned in https://ask.fedoraproject.org/t/solution-modular-filtering-issue-for-nvidia-drivers-cuda-sources-conflict/14063/2?u=t0xic0der but in the presence of conflicting packages, the tool would rather prefer to exit out with an error than to assume that a certain package is not important and hence, remove it.

I have intentionally not included the directives that allow

[2022-01-16 14:37] aanno commented on #82
I reported the x11 problem at https://forums.developer.nvidia.com/t/x11-has-stopped-working-on-fedora-35/200682 (like suggested from rpmfusion).

[2022-01-16 17:41] aanno commented on #82
Button line:
* On `01:00.0 VGA compatible controller: NVIDIA Corporation TU106 [GeForce RTX 2060 Rev. A] (rev a1)` the rpmfusion package `xorg-x11-drv-nvidia` version `3:495.46-1.fc35` does _not_ work any more
* On this card you need `NVIDIA-Linux-x86_64-470.94.run` nowerdays (`NVIDIA-Linux-x86_64-495.46.run` does _not_ work).

[2022-01-17 16:48] aanno commented on #82
Because of the problem mentioned above, `nvautoinstall driver` will trash nvidia x11 support (as `NVIDIA-Linux-x86_64-470.94.run` is installed and will get overwritten).

[code]

Perhaps `nvautoinstaller` should ask if you really want to overwrite the proprietary nvidia drivers package.

[2022-01-18 02:42] gridhead commented on #82
Please refer to this https://ask.fedoraproject.org/t/xorg-x11-drv-nouveau-error-and-nvidia-kernel-problem/13827/12?u=t0xic0der. We do not recommend the use of RUN file due to the aforementioned reasons and that is why the installer is intentionally made to be oblivious of its existence.

[2022-03-06 06:48] gridhead opened #83 "Add code quality tests"
This includes the following two tasks.

- [ ] Rework the code to make it comply with the PEP8 standards
- [ ] Include tests to ensure compliance at all ends

[2022-03-06 06:52] #83 closed, assigned to gridhead

[2022-03-06 07:00] gridhead opened #85 "Setup GitHub Actions"
Automatic code compliance checks should happen on the event of every push, pull request or deployment.

[2022-03-06 07:04] gridhead opened #87 "Setup Dependabot alerts"
Libraries and dependencies must be automatically updated to the newest version available and supported by the mentioned Python versions.

[2022-03-06 07:05] #85 closed, assigned to gridhead

[2022-03-06 07:09] #87 closed, assigned to gridhead

[2022-03-06 07:11] gridhead opened #89 "Loosen Python version dependence"
The current project config is locked to Python 3.8 while the code does not need it to be.

[2022-03-06 07:14] #89 closed, assigned to gridhead

[2022-04-13 02:06] karlisk commented on #5
Have been running Fedora 34 and now 35 the KDE Spin, this tool has been very helpful to wrangle Nvidia PRIME. Ran into a few issues (specifically with PRIME, of course) but for the most part I have all the autoinstaller components installed and everything works without any additional configuration needed. But because of the aforementioned problems (or rather hinderance) I thought I'd add some feed

[2022-05-02 07:39] sugamkarki opened #99 "Unable to find a match: kernel-headers kernel-devel"
[code]

My system:
[code]

[2022-05-03 03:01] gridhead commented on #99
Hi @sugamkarki,

Do you happen to be facing this problem even now or is it fixed?

[2022-05-03 03:19] sugamkarki commented on #99
Yes it is solved. I had to upgrade me kernel to the latest to fix this. Thank you!

[2022-05-03 03:27] gridhead commented on #99
Glad to know. I should ensure that all packages are updated to the their latest version before I start with the installation so I would open this ticket up. Please note that this is not a bug but more of a Quality-of-Life improvement to the installation implementation.

[2022-05-12 06:03] gridhead opened #100 "Update CUDA repositories for F36"
As the official NVIDIA CUDA repositories trail behind the Fedora releases by one count, the update would consist of repositories for Fedora Linux 35.

Ref. https://rpmfusion.org/Howto/CUDA

[2022-05-12 06:06] gridhead opened #101 "Suggest installing RPM Fusion repositories if people try to install the drivers without them"
This would be a quality of life improvement as many users would be oblivious as to what they need to do in order to be able to install drivers, when they get an error regarding the repositories. We need to note that the technical lingo can be difficult and counter-inclusive for folks who do not have an experience on things like these.

[2022-05-12 08:05] #100 closed, assigned to gridhead

[2022-05-12 08:07] #101 closed, assigned to gridhead

[2022-05-24 10:29] MysterHawk opened #107 "Create an option to generate cert and sign nvidia kernel modules on secure boot"
Hi!

I've noticed a bug, the program is almost perfect but if I can add one thing, if you install the nvidia drivers and you have secure boot enabled, you will not be able to load nvidia kernel modules on boot, you have to sign them with a self generated certs that prove that those modules can be trusted.

This is the phrase that I would get on boot:
nvidia kernel module missing falling back to no

[2022-05-26 02:47] gridhead commented on #107
@MysterHawk,

Thank you for reaching out with a feature request. Unfortunately, these steps are, to a great extent, subjective to the kernel which is installed on the user's device at a certain point in time - which would mean that these need to be run every after a kernel update as the secure boot signing would break in the absence of the older kernel where the sign was available.

As much as I t

[2022-06-15 11:53] MysterHawk commented on #107
Sorry for the late answer @t0xic0der ,

It is true that this feature request is a bit more advanced that the others functionality of your application, but in a UEFI system your method to install nvidia drivers won't work, the users won't be able to understand withouth a bit of research what happend on the first boot (kernel modules not loaded...), I think that atleast for the UEFI user a warning i

[2022-07-07 18:22] QazCetelic opened #110 "SDDM blackscreen after usage. (KDE Spin)"
I've used the tool to install the drivers, but sadly this has caused an issue. The login screen doesn't show up anymore. I did manage to click on the password field by pure luck and was able to log in.
Then the black screen was replaced with the startup animation, after which it did function. The GPU is now automatically used when launching certain applications, but those applications do crash wit

[2022-07-07 18:31] QazCetelic commented on #5
#110 The SDDM does not display.

[2022-07-07 18:32] QazCetelic commented on #110
System information:
Operating System: Fedora Linux 36
KDE Plasma Version: 5.24.5
KDE Frameworks Version: 5.94.0
Qt Version: 5.15.3
Kernel Version: 5.18.9-200.fc36.x86_64 (64-bit)
Graphics Platform: X11
Processors: 12 × Intel® Core™ i7-8750H CPU @ 2.20GHz
Memory: 15.4 GiB of RAM
Graphics Processor: NVIDIA GeForce GTX 1060/PCIe/SSE2
Secureboot is off

[2022-07-07 18:36] QazCetelic commented on #110
I started experiencing these issues after using `sudo nvautoinstall primec`.

[2022-07-07 18:39] QazCetelic commented on #110
Output of `sudo nvautoinstall compat`:
[code]

[2022-07-07 19:33] QazCetelic commented on #110
Reverting the NVIDIA driver install with the RPMfusion guide fixed the SDDM and applications.

[2022-07-07 19:39] QazCetelic commented on #110
I have tried to reinstall just the driver without other things such as FFMPEG and vulkan, however it doesn't boot at all now.

[2022-07-07 19:48] QazCetelic commented on #110
I managed to get it to start after the 4th reboot (??) and Nvidia X-Server settings works now. GreenWithEnvy is also able to get data from the GPU. Applications do start now, but use the iGPU.

[2022-07-07 20:49] QazCetelic commented on #110
I have been able to reproduce the same issue (blackscreen SDDM & broken apps) when manually setting the Nvidia GPU as primary GPU with the [fedora docs guide](https://docs.fedoraproject.org/en-US/quick-docs/how-to-set-nvidia-as-primary-gpu-on-optimus-based-laptops/#_why_would_you_want_to_do_that).

[2022-07-07 20:53] QazCetelic commented on #110
I have reverted the change by removing the `Option "PrimaryGPU" "yes"` line in `/etc/X11/xorg.conf.d/nvidia.conf`. The SDDM and applications are functioning again.

[2022-07-07 21:04] QazCetelic commented on #110
So in conclusion:

|                                                                           | SDDM displayed[^1] | Apps run[^2] | dGPU usage[^3] |
|---------------------------------------------------------------------------|----------------|----------|------------|
| All parts installed using `nvautoinstall` w/o `primec`                        | √              | √        | x          |
| All pa

[2022-07-08 02:01] kphanipavan commented on #110
Have you tried changing /etc/sddm/Xsetup file?

If not, refer the `note` in the below link.
https://docs.fedoraproject.org/en-US/quick-docs/how-to-set-nvidia-as-primary-gpu-on-optimus-based-laptops/#_step_8_edit_the_x11_configuration

Change /etc/sddm/Xsetup file to contain the following:
[code]

I have a similar setup, an Intel CPU and an Nvidia GPU. Prime and reverse Prime works with the above X

[2022-07-08 04:46] QazCetelic commented on #110
This works, the SDDM is properly shown now, but some applications still crash. I've created a pull request to add these changes to the tool.

[2022-07-08 04:47] QazCetelic opened #111 "Feature Request: Configure KDE SDDM to properly support PRIME"
#110

[2022-07-08 04:49] QazCetelic commented on #111
It can be fixed by adding the following to `/etc/sddm/Xsetup`:
[code]

[2022-07-08 08:58] kphanipavan commented on #110
I am having the same issue, application crash randomly with the special souse `__GLX_VENDOR_LIBRARY_NAME=nvidia __NV_PRIME_RENDER_OFFLOAD=1` but only when Nvidia is *not* the primary GPU.

When I enable Prime, everything is working fine. No crashes...

[2022-07-08 09:12] QazCetelic commented on #110
It seems like Nvidia is the primary GPU on my system now. Apps crash with and without the wrapper command; `env __NV_PRIME_RENDER_OFFLOAD=1 env __GLX_VENDOR_LIBRARY_NAME=nvidia`.

![nvidia_primary_gpu](https://user-images.githubusercontent.com/51381523/177959179-71796c7d-11a7-4674-875a-f702f263e05a.png)

[2022-07-08 09:14] kphanipavan commented on #110
Switch to nvidia gpu being the primary gpu, and dont use the env flags...

Edit: What application are you trying to use?

[2022-07-08 09:20] QazCetelic commented on #110
I think I've already chosen Nvidia to be my primary GPU.
`nvidia.conf`:
[code]

I'm trying to use the [PolyMC launcher](https://polymc.org/) (Minecraft Launcher).
I get the following error when using your suggested wrapper command `The wrapper command "__GLX_VENDOR_LIBRARY_NAME=nvidia" couldn't be found.`.

[2022-07-08 09:21] kphanipavan commented on #110
With Nvidia GPU as primary, dont use that wrapper, launch the app directly.

Also, are you using the flatpak version? If so, try using the AppImage...

[2022-07-08 09:32] QazCetelic commented on #110
I am indeed using the flatpak version.
The crashes are caused by `org.lwjgl.LWJGLException: Could not choose GLX13 config` & `at org.lwjgl.opengl.LinuxDisplayPeerInfo.initDefaultPeerInfo(Native Method)`.
It could be because the flatpak's sandboxing causes issues.

[2022-07-08 09:40] QazCetelic commented on #110
The apps work using the RPM install.

[2022-07-10 13:00] kphanipavan commented on #19
https://gist.github.com/kphanipavan/6b2d52b0e8c115f6834817a32049ba24#file-nvscrape-py

Above script queries the latest compatibility page and returns appropriate data...

[2022-08-08 05:11] gridhead commented on #111
@QazCetelic, thank you for submitting the feature request.

@onuralpszr, as your run Fedora Linux - KDE Spin - could you please confirm the relevance of this feature request?

[2022-09-22 10:04] hhlp opened #117 "Conflicting requests when install nvautoinstall in FEDORA 37"
[code]

[code]

Regards.,

[2022-09-29 02:27] gridhead commented on #117
@hhlp,

Thanks for reporting. I will take a look.

[2022-09-29 03:41] gridhead opened #118 "Write unit tests for the code"
A well-tested code is a reliable code.

[2022-09-29 03:41] gridhead opened #119 "Add coverage reports using `pytest-cov`"
We would want to know how much part of the code is tested.

[2022-09-29 03:42] gridhead opened #120 "Check security vulnerabilities using `bandit`"
We would not want to ship a vulnerable code now, would we?

[2022-10-01 20:01] aitorres commented on #119
Hi! I added a PR that addresses this issue (see #121), let me know if there's anything else I could add!

[2022-10-03 13:22] PennRobotics commented on #117
I tried forcing this through by `rpm -i --nodeps nvautoinstall-0.4.1-0.fc37.noarch.rpm`. If I have `python3.10` installed, I get the error message when manually importing in python3.10: `No module named 'click'` (aka seems to work), but in both cases---python3.10 installed or not---I get the error `No module named 'nvautoinstall'` in python (aka python 3.11).

[2022-10-09 11:17] #117 closed, assigned to nobody

[2022-10-09 11:33] onuralpszr commented on #117
After build of copr repo It works fine. I do also have python 3.11 and python 3.10 at the same time and all works here.

[code]

[code]

[code]

[2022-10-09 11:38] onuralpszr commented on #120
@t0xic0der  assign to me

[2022-10-09 16:10] onuralpszr commented on #65
@t0xic0der  assign to me

Initial PR started : https://github.com/t0xic0der/nvidia-auto-installer-for-fedora-linux/pull/126

[2022-10-10 05:02] gridhead commented on #120
Fixed via #124

Thanks!

[2022-10-10 05:02] #120 closed, assigned to onuralpszr

[2022-10-10 07:30] onuralpszr opened #127 "[Feature request] Nvidia-vaapi-driver installation and how to manage within the script :construction:"
Rpmfusion folks already add this package into the repository for having nvidia-vaapi but we need strategy how do we make it easier for users. (It needs some config changes some env params)

Source of project : https://github.com/elFarto/nvidia-vaapi-driver

Ideas I was think of ;

- Having a custom desktop file for firefox (If user wants to)
- Set those firefox config accordingly (If user wants to

[2022-10-10 07:34] onuralpszr opened #128 "[ci] :construction_worker: Conventional Commits check with every PR"
It would be nice to have this CI feature for automatic check and warn to user in PR section. I can added relevant CI code quickly.

Source : https://www.conventionalcommits.org/en/v1.0.0/